<div class="home">
  <div class="home__content col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
      <div class="logo">
        <img src="../../src/images/logo.svg" alt="KENT"><br>
      </div>
      <a href="/register" data-path>Registreren</a><br />
      <a href="/login" data-path>Inloggen</a><br />
  </div>
</div>

