<div class="login no-header">
  <div class="login__content">
    <div class="login__content-title title col-xs-12 col-sm-12 col-md-12">
      <h1>Vul je e-mail in voor je nieuw wachtwoord</h1>
    </div>
    <form class="">
      <div class="login__content-form form">
        <div class="col-xs-12 col-sm-12 col-md-12 login__content-form--input form__input">
          <input type="email" class="email" id="email" name="email" placeholder="E-mail">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 login__content-login">
        <input type="submit" class="send" id="send" name="send" value="Login">
      </div>
    </form>
  </div>
</div>