<div class="header">
    <div class="header__content">
        <div class="header__content-logo col-xs-6 col-sm-6 col-md-6">
            <a href="/profile">KENT</a>
        </div>
        <div class="header__content-hamburger">
            <i class="menu-open fas fa-bars"></i>
        </div>
    </div> 
</div>
<div class="nav hidden">
    <div class="nav__close">
        <i class="menu-close fas fa-times"></i>
    </div>
    <div class="nav__item">
        <a class="active" href="/profile" data-path>Profiel</a><br>
        <a href="#" data-path>Zoeken</a><br>
        <a href="#" data-path>Berichten</a><br>
        <a href="#" data-path>Favorieten</a><br>
        <a class="log-out" href="#" data-path>Uitloggen</a>
    </div>
</div>


